<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Garaga NagaRaju</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/garaganagaraju.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#About">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Certifications">Certifications</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Clarence
                        <span class="text-primary">Taylor</span>
                    </h1>
                    <div class="subheading mb-5">
                        Gachibowli Hyderabad, +91 8074758976 ·
                        <a href="mailto:rnaga322@gmail.com">rnaga322@gmail.com</a>
                    </div>
                    <p class="lead mb-5">I’m a DevOps Engineer with hands-on experience in designing, implementing, and maintaining complex IT infrastructures that help businesses run more efficiently. I specialize in DevOps practices, cloud computing (Azure, AWS, and currently learning GCP), automation, CI/CD pipelines, and containerization using tools like Docker and Kubernetes.
Over time, I’ve built strong expertise with tools such as Azure DevOps, Jenkins, GitHub, Terraform, Ansible, the ELK Stack, SonarQube, JFrog, and Datadog. I'm also confident working in Linux environments and writing automation scripts with Shell.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/garaga-nagaraju-539929205/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/GARAGANAGARAJU" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">DevOpsEngineer</h3>
                            <div class="subheading mb-3">Algorizz Technologies pvt ltd</div>
                            <p>Driving innovation at Algorizz, I leverage next-gen DevOps methodologies to orchestrate seamless CI/CD pipelines and ensure operational excellence. By aligning cloud-native strategies with agile infrastructure automation, I enable scalable, high-availability environments. My proactive approach fosters continuous delivery with zero-downtime deployments, empowering cross-functional teams to achieve mission-critical outcomes in real time.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">March 2025 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">DevOpsEngineer</h3>
                            <div class="subheading mb-3">CloudBuilders Technologies Pvt Ltd</div>
                            <p>At CloudBuilders Technologies, I synergized cutting-edge automation with scalable infrastructure to streamline deployment workflows and drive digital transformation. Leveraging DevOps best practices, I enabled cloud-agnostic solutions that bridged legacy systems with modern CI/CD pipelines. My work facilitated seamless integrations across hybrid environments, ultimately accelerating go-to-market strategies and optimizing operational KPIs.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">February 2024 - February 2025</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">DevOpsEngineer Intern</h3>
                            <div class="subheading mb-3">Pearlthoughts</div>
                            <p>Podcasting agile-driven innovation at PearlThoughts, I engaged in transformational DevOps initiatives to architect sustainable workflows and enhance delivery pipelines. By incubating strategic metrics and deep-diving into startup-centric frameworks, I contributed to cross-functional synergies that catalyzed operational excellence. My role bridged performance indicators with hands-on automation to streamline platform convergence and continuous improvement.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">October 2023 - December 2023</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of Adikavi Nannaya University</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div>Computer Science</div>
                            <p>Grade:: B+</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May 2015 - Oct 2022</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">DevOps Tools & Technologies</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-linux"></i></li>
                        <li class="list-inline-item"><i class="fab fa-aws"></i></li>
                        <li class="list-inline-item"><i class="fab fa-docker"></i></li>
                        <li class="list-inline-item"><i class="fab fa-kubernetes"></i></li>
                        <li class="list-inline-item"><i class="fas fa-terminal"></i></li> <!-- Bash/Shell -->
                        <li class="list-inline-item"><i class="fas fa-code-branch"></i></li> <!-- Git -->
                        <li class="list-inline-item"><i class="fas fa-cogs"></i></li> <!-- CI/CD -->
                        <li class="list-inline-item"><i class="fas fa-cloud"></i></li> <!-- Cloud Generic -->
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Infrastructure as Code (Terraform, CloudFormation)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            CI/CD Pipeline Automation (Jenkins, GitHub Actions, Azure DevOps)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Containerization & Orchestration (Docker, Kubernetes)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Monitoring & Logging (Prometheus, Grafana, ELK, Filebeat)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cloud Platforms (AWS, Azure, GCP)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Development & Scrum
                        </li>
                    </ul>
                </div>
            </section>

            <hr class="m-0" />
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="Certifications">
                <div class="resume-section-content">
                    <h2 class="mb-5">Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Microsoft Fundamental Certification[AZ-900]
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Microsoft AI Certification[AI-900]
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Kubernetes Cloud Native Associate [KCNA]
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
